<div class = "panel">
<% @articles.each do |article| %>
    <div class = "panel heading">
      <%= link_to "#{article.title}", article_path(article), class: "heading" %>
      <p>
        <b><%= article.created_at.strftime("%e %B %Y") %></b><br>
        <%= article.text[0, 300] %>...
      </p>
    </div>
<% end %>
</div>
