<div class="center jumbotron">
<h1>Articles</h1>

<% if user_signed_in? && current_user.admin? %>
<%= link_to 'New article', new_article_path %>
<% end %><br>
<%= will_paginate @articles %>
</div>

<%= render 'articles/list' %>
